[2018-09-26 21:23] kestred opened #1 "Implement missing resources from the Core Resources API"
**Balance**
- [ ] [Retrieve](https://stripe.com/docs/api#retrieve_balance)
- [ ] [Retrieve historical](https://stripe.com/docs/api#balance_transaction_retrieve)
- [ ] [List history](https://stripe.com/docs/api#balance_history)

**Charges**
- [x] Create
- [x] Retrieve
- [x] Update
- [x] Capture
- [x] [List](https://stripe.com/docs/api#list_charges)

**Customers**
- [x] Create
- [x] Retrieve
- [x] U

[2018-09-26 21:26] kestred opened #2 "Implement missing resources from the Subscriptions API"
**Coupons**
See https://stripe.com/docs/api#coupons
- [x] Create
- [x] Retrieve
- [x] Update
- [x] Delete
- [x] List

**Discounts**
- [x] See https://stripe.com/docs/api#discounts

**Invoices**
- [x] Create
- [x] Retrieve
- [ ] [Retrieve Lines](https://stripe.com/docs/api#invoice_lines)
- [x] [Retrieve Upcoming](https://stripe.com/docs/api#upcoming_invoice)
- [x] [Update](https://stripe.com/docs/a

[2018-09-26 21:37] kestred opened #3 "Replace `&str` and `String` with `enums when fields have a limited set of variants"
If there is a reasonable expectation Stripe may choose to add more values in the future (i.e. probably always), enums should also contain a variant:

[code]

### Fields to be updated
Please reply to this issue if you see another field which should be an enum,and I will add it to the task list.

 * [x] A `ChargeStatus` for the `status` field on `Charge` (https://stripe.com/docs/api#charge_object)

[2018-09-28 15:29] andreevlex opened #7 "Enforce rustfmt for formatting source code"

[2018-09-28 17:01] kestred commented on #7
I occasionally apply rustfmt  to the codebase (and then fix anything it formats weird), but this won't be enforced until `rustfmt` is out of nursery and becomes _stable_.

In the mean time, we can open issue with `rustfmt` when it automatically formats something poorly; but lets not commit poor formatting ^_^.

[2018-09-28 17:47] andreevlex commented on #3
Need change values and update objects:
ChargeOutcome
Charge

[2018-09-28 17:49] andreevlex commented on #3
Invalid
[code]

Valid only this variant

[code]

[2018-10-02 00:53] kestred opened #9 "Switch from `hyper 0.10.x` to `reqwest`"
For the synchronous version of `stripe-rs` (e.g. not `tokio-stripe` or however we decided to implement an async-friendly api) it looks like `reqwest` is the most well-loved blocking http client in the rust community.

We should switch to it so we stop depending on an old version of hyper which itself depends on other older dependency versions.

[2018-10-21 10:15] lutostag commented on #9
Hey all, first off thanks for a great library!

I stumbled upon this issue and thought I might be able to tackle it (found it with the "help wanted" tag), I am a bit new to rust and wanted to start wading in the waters a bit.

I've got a WIP branch at https://github.com/lutostag/stripe-rs/tree/migrate-to-reqwest, will do a PR later today -- need to test that the stripe_account bit still works as e

[2018-10-23 04:44] kestred commented on #9
Thanks! I'll also have some folks poke at it after you open PR just for general testing around the change ^_^.

[2018-10-23 06:50] lutostag commented on #9
Hey @kestred I got pretty far so that everything I tested works...

Unfortunately it seems like the `with` for specifying account does not work with the current version -- nor my migration to reqwest as seen here https://travis-ci.org/lutostag/stripe-rs/jobs/444565531#L937

Looks like client_id needs to be specified as well -- I will do that in a separate PR first then the migration to reqwest as

[2018-10-23 20:56] lutostag commented on #9
Submitted #16 to cleanup the tests before PR of the reqwest rewrite, but that should also be inbound shortly.

[2018-10-23 23:15] kestred opened #18 "Setup outbound test suite using Stripe Mock"
Stripe uses the https://github.com/stripe/stripe-mock server to test their open source client library.
We should setup our tests to do the same.

See examples:
 - https://github.com/stripe/stripe-go/blob/master/.travis.yml
 - https://github.com/stripe/stripe-java/blob/master/.travis.yml
 - https://github.com/stripe/stripe-python/blob/master/.travis.yml

[2018-10-24 00:31] kestred commented on #9
I think the `client_id` became required in a newer version of the Stripe API and I've just been using an older version for a while; glad you added it in the PR.

[2018-10-26 16:04] #9 closed

[2018-11-16 09:40] chinedufn opened #19 "Error when attempting to create a customer"
Hey!

Getting an error when I try to create a customer:

[code]

[code]

It seems like we're expecting the returned `customer.id` to start with `'src'` when it should really start with `'cus_'` ?

Thank you!!

[2018-11-16 18:36] kestred commented on #19
The error message is a bit of a red herring (although obviously still a bug).

Its probably not that `customer.id` is failing to deserialize, but rather some other nested id is likely failing to deserialize.

I'm looking into it now00

[2018-11-16 20:02] kestred commented on #19
Fix published as part of 0.7.0 (https://crates.io/crates/stripe-rust)

[2018-11-17 14:09] chinedufn commented on #19
Thanks!

[2018-11-18 09:32] chinedufn commented on #19
@kestred I've upgraded to `0.7.0` and am getting a new error

[code]

[2018-11-18 20:31] kestred commented on #19
Could you check what your __default__ stripe API version is? (https://dashboard.stripe.com/developers)

I've pushed https://github.com/wyyerd/stripe-rs/tree/kstenerson/optional-created which may fix your issue, but based on stripe's doc and other language official api bindings I'm surprised to see that error 🤔.

[code]

[2018-11-19 12:41] chinedufn commented on #19
![image](https://user-images.githubusercontent.com/2099811/48707650-1bfa9f00-ebce-11e8-99b9-ac4b0d40210d.png)

Default stripe -> `2018-11-08`

---

Thanks so much for the instructions! After using the `optional-created` branch I get a new error

[code]

[2018-11-19 12:47] chinedufn commented on #19
When I use `curl` to create a customer it looks like `livemode` is there

[code]

[2018-11-20 12:43] chinedufn commented on #19
Works, thanks!!

[2018-11-20 12:43] #19 closed

[2018-12-10 19:53] barlindhaug opened #22 "Problem with nested elements"
When I try to post something to stripe with nested elements, for example metadata fields, I get the following error.

`error_cause: caused by: error communicating with stripe: unsupported value`

I did a `println` on the `request` variable inside the `post` function and it looks like this:

`RequestBuilder { client: Client, request: Err(Inner { kind: UrlEncoded(Custom("unsupported value")), url: N

[2018-12-10 22:07] kestred commented on #22
I'll publish the fix later today after review + pipeline passes. There are added tests, but certainly if you'd like to test it out with your real data its always appreciated 😁 .

[2018-12-10 22:32] #22 closed

[2018-12-11 11:07] barlindhaug commented on #22
I just tested this out, and it works perfectly.
Thanks for the fast response 👍 😄

[2019-01-03 04:14] thedodd opened #24 "Any plans to expose an async interface?"
I would totally use this lib, except that I need an async interface. For now, I've just built a light wrapper around the `reqwest::async::Client` and implemented the logic I need. I would definitely love to get rid of that code and just use this though.

Anyway, I've had a lot of success so far with the reqwest async system. Works really well.

Thanks for all the work so far!

[2019-01-04 17:39] kestred commented on #24
Yeah!  I think there are definitely plans to expose an async interface (we'll be needing it ourselves in a month our two 😆 ).   Originally I was waiting for the `tokio`/`futures` situation to stabilize, but since we've now switched to using `reqwest` instead of `hyper`, I think we can just begin providing the async client directly (like you've pointed out)-- perhaps via a `stripe::async::Client`?

[2019-01-05 14:56] serejkaaa512 opened #25 "PaymentIntents implementation"
It looks like PaymentIntents will be used in near future for Stripe SCA integration. Are there any plans for implementing it?

[2019-01-06 15:23] serejkaaa512 opened #26 "Payout and Refunds fns implementation"
Subj is missing

[2019-01-07 10:04] serejkaaa512 commented on #26
Second one:
https://github.com/wyyerd/stripe-rs/pull/27

[2019-01-07 10:23] serejkaaa512 commented on #26
First one:
https://github.com/wyyerd/stripe-rs/pull/28

[2019-01-07 11:51] serejkaaa512 commented on #25
Added:
https://github.com/wyyerd/stripe-rs/pull/29

[2019-01-08 02:08] thedodd commented on #24
@kestred thanks for the quick response. Yea, I would love to be able to hack on that. For better or for worse, I just implemented a lightweight interface on top of reqwest::async for the items that I needed. Worked out pretty well, but next time I need to touch that code, I'll do my best to take a look at the code here and see if I can put together a PR which satisfies your above description.

At

[2019-01-09 04:31] kestred commented on #25
I hadn't seen it before.

But yeah, definitely lets get it `PaymentIntents` and the whole `SCA` workflow implemented!

[2019-01-11 20:03] kestred commented on #26
Implemented in your #27 and #28.

[2019-01-11 20:03] #26 closed

[2019-01-11 20:04] kestred commented on #25
MR #29 has been merged in and will be included in the next publish.

[2019-01-11 20:04] #25 closed

[2019-01-16 18:34] kestred commented on #26
These implementations have been published to __crates.io__ as part of `v0.8.0`.

[2019-01-16 18:34] kestred commented on #25
Payment intents has been published to __crates.io__ as part of `v0.8.0`.

[2019-01-16 23:20] agrinman commented on #24
@thedodd did you happen to publish your changes with the light async wrapper somewhere? I started down the rabbit hole of converting this lib to use Futures everywhere but I also need just  a few API calls at the moment.

[2019-01-17 00:30] thedodd commented on #24
@agrinman negative. It is part of one of my closed source projects (part of the [DocQL.io](https://DocQL.io) infrastructure).

If you have a PR, I’m happy to open a PR against yours with the bits that I need.

Just let me know. I’m pretty time crunched for the next few weeks.

[2019-01-17 11:35] kestred commented on #24
@thedodd / @agrinman - I've implemented an async client in PR https://github.com/wyyerd/stripe-rs/pull/40; a new example in the `examples` folder checks that it compiles, but I haven't personally tested it.   Should work fine since its just using `reqwest`'s async behavior...

[2019-01-17 15:30] agrinman commented on #24
@kestred awesome, I'll take a look at it when I can. For now I've also just converted the subset I need to be async.

[2019-01-17 19:11] kestred opened #41 "Implement `List::get_all() -> Stream<T>` for `feature = "async"`"

[2019-01-17 19:30] kestred commented on #3
This is a continuous process (one that often results in breaking, but _good_ changes), but it is mostly complete!  Will want to revisit before releasing any "stable" 1.0.0 release, but I'm closing the issue for now ^_^.

[2019-01-17 19:30] #3 closed

[2019-01-17 19:39] kestred commented on #24
These changes were released in v0.9.0.

To switch to async, in your __Cargo.toml__ use:

[code]

When creating your client use:

[code]

As is the same with other async clients, futures normally need to be run inside a tokio runtime or driven to completion by spawn.

Happy billing :D!

[2019-01-20 22:34] #7 closed

[2019-05-16 13:36] application-developer-DA commented on #24
Should this issue be closed? It seems that the `async` is indeed on crates.io already.

[2019-05-16 13:40] thedodd commented on #24
Sounds good to me.

[2019-05-16 13:40] #24 closed

[2019-05-17 10:00] application-developer-DA opened #56 "Support expandable fields"
I find the idea of introducing `Expand` type on [expandable](https://stripe.com/docs/api/expanding_objects) fields nice, currently a very [similar crate](https://github.com/bundleofbytes/libstripe) provides this feature. `libstripe` seem to have a good way of handling such abstractions. Basically `Expand` is an `enum` which either contains an id or the expanded type `T`. I think it may simplify th

[2019-05-17 14:41] kestred commented on #56
This seems like a good way to implement expanding objects.   It can definitely be considered planned for the crate.

I'd probably implement it with a few changes for the expandable type.

We would want an extra `Id` parameter to support strongly-typed ids;
additionally I'd prefer the `Box` be built in to the enum rather than part
of each field declaration:

[code]

Generally, we've been attempting

[2019-05-17 15:28] application-developer-DA commented on #56
Sounds good. Is `Box` required though? `libstripe` does not have any boxes at this place and it works fine. I may assume that you expect `Box` to be useful here to avoid possible recursive structure definitions (which would result in the compile time error).

I think it would also be nice to have some helper functions on `Expandable` like the ones I added to `libstripe` recently (https://github.co

[2019-05-17 15:35] kestred commented on #56
That crate does use `Box<T>` (see https://github.com/bundleofbytes/libstripe/blob/master/src/resources/orders/order.rs#L21 for example).

My point is actually exactly that we'd prefer to _avoid_ using a box if we aren't using `expand`, which is why I'd rather it be built in to the enum, so that it is only necessary for expanded values rather than on every field that can be expanded.

Of course for

[2019-05-17 15:46] application-developer-DA commented on #56
Ah, got it, the idea with `Box` makes sense then (I did not know that `libstripe` uses `Box` at _some_ places).

You're right. I analyzed almost every single crate when I was trying to decide which one to use, but it seems that there are only 2 crates which are still "actively developed": `stripe-rs` (a.k.a. `stripe-rust` on crates.io) and `libstripe`, the rest seem to be obsolete and dead.

[2019-05-17 16:42] dariusc93 commented on #56
I do agree that `Box` shouldnt be used everywhere especially if someone isnt using `expand`. I do have a local branch with `Box` being used in just the enum and not everywhere, but kept it as is for the time being. Mainly for some internal testing and debugging I was doing. I will probably rebase and push it out later.

I also do agree that we all should work together and have one crate than to ha

[2019-05-18 08:19] kestred commented on #18
The `stripe-mock` test harness was set up in https://github.com/wyyerd/stripe-rs/pull/57 (although there a quite  a few tests to be written)

[2019-05-18 08:19] #18 closed

[2019-05-19 14:59] jonathanKingston opened #61 "allowed_source_types appears to be payment_method_types"
[code]

Error on creation:
[code]

Changing this to `payment_method_types` appears to fix it.

[2019-05-20 16:08] application-developer-DA commented on #56
@kestred BTW, wouldn't it be simpler to replace the source code parts from `stripe-rs` by `libstripe` (doing refactoring in parallel) and then fill the gaps (missing docs etc)? I've tried to do changes in libraries for the product I'm working on, but it turned out that making changes in `libstripe` is much simpler as the APIs are more up-to-date, whereas in `stripe-rs` some APIs are either not com

[2019-05-20 16:20] kestred commented on #56
@application-developer-DA - I'm just planning to autogenerate the API https://github.com/wyyerd/stripe-rs/pull/60

[2019-05-20 16:22] #61 closed

[2019-05-28 19:02] kestred commented on #56
Implemented as part of #60.

[2019-05-28 19:03] #56 closed

[2019-05-31 16:08] Aeradriel opened #63 "FAQ: Missing/Outdated fields"
I'm currently implementing Stripe on my Rust application and I found several strange things in the crate.
First of all I cannot find a `name` or `phone` field in the `Customer` or `CustomerParams` structs while it is accepted by Stripe API (https://stripe.com/docs/api/customers/create).
Moreover I noticed the `business_vat_id` field that has been changed in Stripe API for a while (cf. https://stri

[2019-06-04 05:25] kestred commented on #63
@Aeradriel - Yup! The crate is maintained 😉.

For a while we were using a pretty old version of the stripe API internally, because as it turns out it changes really fast and is a lot of work to keep up to date!

**Really recently**, though I implemented automatically [generating the Stripe API from the spec](https://github.com/wyyerd/stripe-rs/pull/60) to make it a lot easier to keep it updated, w

[2019-06-04 20:47] kestred commented on #63
These changes are available as part of `v0.10.1`:

[code]

[2019-06-04 20:47] #63 closed

[2019-06-07 08:25] kiljacken opened #64 "Error: Invoice line item prefix check too strict"
Hi, we recently encountered issues processing a subscription renewal due to the new typed IDs.

The ID of the received line-item is `sli_321c032d98fd96` which does not match the typical `ii_` prefix, presumably due to it being a subscription. We've rolled back to an older version of our webhook for now, but would love to know if there's a way to fix the issue.

The error message produced:
[code]

[2019-06-13 04:40] kestred commented on #64
Ah.   Yes, this is a correctness issue and should be fairly straightforward to fix--  was this using a `0.10.x` version, or a prior version?

[2019-06-13 05:15] kiljacken commented on #64
This is trying out 0.10. We've been running on a fork previously, and
decided to give the new version a try and test if it fixed the issue we had.

On Thu, 13 Jun 2019, 06:40 Kevin Stenerson, <notifications@github.com>
wrote:

[2019-06-13 16:36] #64 closed

[2019-06-13 16:45] kestred commented on #64
This was published as part of `v0.10.2`

[2019-06-13 16:56] kiljacken commented on #64
Awesome! Thank you very much

[2019-06-17 18:57] application-developer-DA opened #66 "Derive the `Default` for request parameters"
Currently the corresponding structure do have the `new()` method which fills each field with `Default::default()`, it would probably better to just derive the `Default` for each of these  structures, in this case we do get the `Default::default()` for the structure and we don't need to write the redundant code to initialize each field to default value.

NB: I'm not sure if this should be done manu

[2019-06-18 06:27] margh opened #67 "checkout.session webhook event not being handled"
hey there,

first of all you're a legend for making this lib.
now on to business...

i'm trying to use `stripe::Event` to parse my webhook notifications, works for all subscriptions but `checkout.session.completed` doesn't seem to be being handled. i'll have a look around and see if i can find the cause.

[code]

[2019-06-19 05:49] margh commented on #67
i can't see any difference between the test webhooks from the stripe dashboard and actual purchase events, but they give two different errors when they are parsed.
the test webhook from the dashboard gives
[code]
and an actual purchase event gives the error above.

in any case i can work around it with an intermediate struct:
[code]

so i guess the problem is within the event struct's deserializat

[2019-06-21 09:54] application-developer-DA commented on #66
After short look at the openapi specs in this repository, I assume that the `openapi/src/main.rs` has been written manually (?) and basically what it does is it parses the openapi specification and generates the corresponding source files (i.e. the `openapi` crate or something similar is not being used at the moment).

The one is meant to run the openapi binary, gather the generated bindings, repl

[2019-06-22 03:41] kestred commented on #66
That is correct.

It doesn't use the openapi crate because I wasn't sure whether it would correctly support all of Stripe's custom extensions (like `x-expandable`), and also the `serde_json::Value` interface is very easy to use.

The reason I didn't necessarily derive `Default` for the params structs is that some of the structures have required parameters and I wanted to (at least) provide one con

[2019-06-22 03:48] #67 closed

[2019-07-01 13:34] Yatekii opened #71 "Eq/parialEq missing on PaymentIntentStatus"
Why did you remove `Eq` and `PartialEq` from `PaymentIntentStatus` in recent versions?

[2019-07-12 19:44] kestred commented on #71
This looks like a mistake that was made when `PaymentIntentStatus` was switched to become autogenerated.  I'll go ahead and fix the generator to derive the right traits.

[2019-07-26 21:42] kestred commented on #71
This was implemented whenever `v0.10.4` was released

[2019-07-26 21:42] #71 closed

[2019-08-04 19:47] brndnmtthws opened #74 "Feature request: Connect oauth endpoints"
The oauth endpoints for the connect API are missing. It would be nice to add them to this library. In the meantime, I'm just using reqwest.

[2019-08-07 19:44] Yatekii opened #75 "What is wrong with code review?"
The changes from 0.9.2 to 0.10.5 are just questionable ...
Now there is a `PaymentIntentListParams` struct with no constructor or default and all private fields. So this struct is 100% useless. Thus, one cannot do a `PaymentIntent::list()`.
For some types the `Default::default()` methods were replaced with `Self::new()` against all convention.
I already reported similar stuff where features just w

[2019-08-08 13:22] ThouCheese opened #76 "Support `Stripe-Version` header"
To test the new Stripe API version for our software I need to set the `Stripe-Version` header. Currently, the only supported headers seem to be `Stripe-Account` and `Client-Id`. This makes it impossible to use a different version on the test suite than on the production server.

[2019-08-08 13:45] ThouCheese commented on #76
I have create a [pull request](https://github.com/wyyerd/stripe-rs/pull/77) to close this issue

[2019-08-16 22:58] phayes opened #80 "Parse error when balance is negative"
When a customer has a negative value in their `balance` field, fetching the customer results in a parse-error. This is because `balance` is `u64` but it *should* be `i64`.

I've created a PR against the stripe openapi specification to fix this: https://github.com/stripe/openapi/pull/50

[2019-08-16 23:02] phayes commented on #80
I think this might be an error in the open-api implementation here since according to the spec (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#data-types)

The spec says: "integer as a type is also supported and is defined as a JSON number without a fraction or exponent part".   This means that a integer without a "format" should be interpreted as an i64.

[2019-08-16 23:24] phayes commented on #80
A fix is here: https://github.com/wyyerd/stripe-rs/pull/81

[2019-09-06 19:14] #75 closed

[2019-09-06 19:35] ambaldwin21 commented on #80
PR merged.

[2019-09-06 19:35] #80 closed

[2019-09-06 20:57] kestred commented on #76
Merged in.  I'll publish to crates.io soon; probably early next week.

[2019-09-06 20:57] kestred commented on #74
@brndnmtthws - do you have a link to the stripe documentation for those endpoints?

[2019-09-06 21:11] brndnmtthws commented on #74
https://stripe.com/docs/connect/oauth-reference looks like the one

[2019-09-06 22:08] gperinazzo opened #84 "Incorrect handling for nullable booleans in codegen"
The openapi codegen currently handles non-required booleans using `#[serde(default)]`. This works to set the value to false if the field is missing in the input json, but if the attribute is nullable deserialization will fail if it finds a null.

The assumption seems to be documented in [line 1392 of the codegen source](https://github.com/wyyerd/stripe-rs/blob/master/openapi/src/main.rs#L1392)

I'

[2019-09-07 07:51] milesgranger opened #85 "Example of using CheckoutSession flow?"
Hello there, and thanks for this lib! :100:

I've been trying for a while now to use the `CheckoutSession` client-server checkout flow.

I've got a `/create-session` route, creates the `stripe::CheckoutSession` and posts this to `https://api.stripe.com/v1/checkout/sessions` before returning the `sessionID` to the client.

However this seems wrong, as [in their examples](https://stripe.com/docs/api

[2019-09-07 08:46] milesgranger commented on #85
Yes, on further reading, [stripe is suppose to return this `id`](https://stripe.com/docs/payments/checkout/one-time#client-server) so I'm definitely doing this wrong, but not sure how to `create` the `stripe::CheckoutSession` correctly.
Thanks again!

[2019-09-09 10:28] ThouCheese commented on #76
Great to hear!

[2019-09-11 09:46] FGRibreau opened #92 "Issue with ids"
Hello !

First thing first thanks a lot to maintain stripe-rs.

Since stripe-rs moved to v0.10 I can't find a way to use it correctly.

Before, this was working:

[code]

and now I got:

[code]

Looking at the changes, CustomerId was introduced, it's a struct (tuple) generated by this macro

https://github.com/wyyerd/stripe-rs/blob/master/src/ids.rs#L91-L200

`pub struct $struct_name(smol_str::Smo

[2019-09-11 10:15] milesgranger commented on #85
I've fidgeted with it a bit, and slightly more convinced it's just not possible with the current API. I am willing to work on a PR for this `stripe::CheckoutSession::create` (?) if you have some pointers. :+1:

[2019-09-11 19:07] kestred commented on #92
Hi.

If you've got a raw string:

 - If you are deserializing it from something else, the `Id` types support `serde` and can be serialized and deserialized directly.
 - If you need to use a raw string, you can convert it to an `Id` type with _e.g._ `"cus_FmelnPfSBAKAG2".parse()?`.

[2019-09-11 19:33] FGRibreau commented on #92
Thanks!

[2019-09-11 19:33] #92 closed

[2019-09-11 20:56] kestred commented on #84
I've made a fix for this issue in https://github.com/wyyerd/stripe-rs/pull/93.

Thanks for submitting the issue.

[2019-09-11 21:27] kestred commented on #85
Hi @milesgranger.

It looks like the code generation didn't automatically generate corresponding methods for this because it's path is a bit unusual compared to other Stripe api resources.

The request path is two segments long (e.g. `checkout` and `sessions` from `/v1/checkout/sessions`) which I had cowardly refused to generate (see comment in code snippet).   Generally I've only auto-generated "

[2019-09-11 22:35] kestred commented on #84
This change was made in the "major" [v0.11.0 release](https://github.com/wyyerd/stripe-rs/blob/v0.11.0/CHANGELOG.md)

[2019-09-11 22:35] #84 closed

[2019-09-11 22:35] kestred commented on #76
This was released as part of [v0.11.0](https://github.com/wyyerd/stripe-rs/blob/v0.11.0/CHANGELOG.md)

[2019-09-11 22:35] #76 closed

[2019-09-11 22:36] kestred commented on #66
This was released as part of [v0.11.0](https://github.com/wyyerd/stripe-rs/blob/v0.11.0/CHANGELOG.md)

[2019-09-11 22:36] #66 closed

[2019-10-05 18:01] ThouCheese opened #96 "Binary size"
The current binary size of stripe-rs is quite dramatic. I was investigating why the RAM usage of one of my services had increased by 5 MB per instance and I noticed that the binary size of my service had increased dramatically. I ran `cargo-bloat` to determine the origin of this increase, and I found that of the final 18 MB (after stripping) used by the binary, 5.6 MB was used by Stripe. The outpu

[2019-10-06 10:44] ThouCheese commented on #96
Possibly related: My 2500 LOC project takes 1 minute and 20 seconds for a release build. When I exclude the module that includes `stripe-rust`, that time drops to 15 seconds. Could it be that the code generation and the monomorphization is putting a lot of stress on the compiler? Fox example, the generic functions in `client.rs` are all monomorphized for each type, maybe the speed could be improve

[2019-10-09 15:41] JohnDoneth opened #97 "Update to `std::future::Future`"
Now that [reqwest-0.10.0-alpha.1](https://github.com/seanmonstar/reqwest) is out, it seems like a good time to consider updating to it and the new `std::future::Future` ecosystem. Rust will include support for async-await on stable in 1.39 on November 7th.

[2019-10-24 22:14] kestred commented on #96
Avoiding monomorphization via dynamic dispatch seems like a good idea.  I think that would be a good change to make.

I'm not quite sure how to address the size of `Serialize/Deserialize` impls.
One approach is that most folks probably only use a subset of the stripe API;  we could use compiler feature flags to avoid compiling features that aren't used, maybe including just `core` and (maybe payme

[2019-10-30 22:33] ThouCheese commented on #96
On the one hand the API is it is right now is easy and adding "using that part requires this feature flag" will reduce that. However, I think that the trade-off in terms of compile time is definitely worth it.

Also, as is visible in the second snippet in the issue, the serde impls seem to be generated twice, once for the current crate, and once for the stripe crate. I don't know if this is a fund

[2019-12-18 00:36] kestred commented on #96
@ThouCheese: A 50-60% improvement to binary size / bloat can be had as of [tag:v0.12.0-alpha.1](https://github.com/wyyerd/stripe-rs/tree/v0.12.0-alpha.1), with `default-features = false` and just enabling the APIs that you use.

The code on provides #100 another ~%10 decrease to binary size.

There are also some improvements to compile time; partially from reduced upstream dependencies and partial

[2019-12-18 21:52] gperinazzo opened #101 "Incorrect value set for RangeQuery lt and lte"
The `RangeQuery::lt` and `RangeQuery::lte` functions are wrong, they are adding `gt` and `gte` bounds respectively

https://github.com/wyyerd/stripe-rs/blob/master/src/params.rs#L269

[2019-12-18 21:59] #101 closed

[2019-12-18 22:00] kestred commented on #101
I'll publish this on `crates.io` after #100 is merged as part of `v0.12.0-alpha.2`

[2020-01-05 07:48] phayes opened #103 "Feature Request: Attach a PaymentMethod to a Customer"
I've found that I'm needing this API:

https://stripe.com/docs/api/payment_methods/attach

It would be nice if it was implemented.

Thanks for the awesome crate!

[2020-01-05 08:43] phayes commented on #103
This is the workaround I have for now:

[code]

[2020-01-22 21:47] phayes opened #104 "Security Vulnerability"
It looks like `stripe-rs` has a security vulnerability due a to transitive dependency on `http 0.1.18`.

[code]

To fix this we need to upgrade `reqwest` to `0.10.1`, which also has a bunch of async changes.

[2020-01-22 21:50] phayes commented on #104
It looks like this is fixed in #100 , and will be resolved when that PR is merged.

[2020-01-24 20:30] dthul opened #105 "List::next() does not seem to work"
It seems like `List::next()` constructs an invalid URL.

When I try to get all active subscriptions using `Subscriptions::list`, the first request hits `https://api.stripe.com/v1/subscriptions` and succeeds. When I try to get the next page of results using `List::next`, the URL becomes `https://api.stripe.com/v1/ubscriptions` (note the missing "s").
The culprit seems to be the combination of `Clie

[2020-01-27 14:35] phayes opened #107 "FeatureRequest: CreateCheckoutSession"
It looks like we currently have a `CheckoutSession`, but not a `CreateCheckoutSession` (as per https://stripe.com/docs/api/checkout/sessions/create).

It would be great to have a `CreateCheckoutSession` for creating checkout sessions.

I'll post my workaround here when I have a chance.

[2020-01-27 22:10] thedodd opened #110 "The `product` field is missing in `CreatePlan`."
According to the API docs here https://stripe.com/docs/api/plans/create the `product` field is required.
<img width="621" alt="Screen Shot 2020-01-27 at 4 09 18 PM" src="https://user-images.githubusercontent.com/2380740/73218362-758a2200-411f-11ea-9f8c-da7686750c77.png">

After looking through the docs & the source, it looks like that field is indeed missing on the `CreatePlan` struct.

[2020-01-29 00:13] danhoffman699 opened #113 "TransferData for PaymentIntentCreateParams cannot be accessed"
I can't seem to find a way to populate the `transfer_data` parameter in `stripe::PaymentIntentCreateParams`. The documentation doesn't contain a hyperlink reference to another type, and all the references I could find aren't public.

[2020-01-29 02:35] danhoffman699 opened #114 "ListAccounts cannot deserialize"
I'm using version 0.11.0, and the following
[code]
gives me
[code]

Any ideas? Thanks

[2020-01-29 02:41] danhoffman699 commented on #114
Closing this beca

[2020-01-29 23:11] #103 closed

[2020-02-01 18:43] thedodd opened #116 "Missing fn `SubscriptionItem::create`"
Looks like the currently generated [`SubscriptionItem` ](https://docs.rs/stripe-rust/0.11.0/stripe/struct.SubscriptionItem.html) does not support the pattern described in the docs here: https://stripe.com/docs/api/subscription_items/create

I'll work on opening a PR for this.

[2020-02-01 21:50] thedodd commented on #116
Looks like the reason for this is that the code generator is discriminating, in part, based on whether or not the description of the openapi spec segment contains the word `Create` or `create`:
[code]

I'll update that discriminator to also check for the words `Adds` or `adds`, as it should cover this specific case as well. We'll see what the code generator spits out.

[2020-02-01 22:03] thedodd commented on #110
Superseded by #115.

[2020-02-02 06:21] thedodd opened #118 "Product with custom ID is causing error in Product::list"
Looks like this crate is requiring that all ProductId's start with `prod_`. Seems to be an incorrect constraint according to the stripe API. Custom product IDs are not required to start with `prod_` in the stripe API.

[2020-02-03 17:54] #110 closed

[2020-02-03 17:57] #116 closed

[2020-02-03 22:40] #118 closed

[2020-02-03 23:11] stearnsc commented on #105
resolved by https://github.com/wyyerd/stripe-rs/pull/120

[2020-02-03 23:11] #105 closed

[2020-02-03 23:53] kestred commented on #114
I've added a test for this in #100; so should be resolved after that MR has a passing test suite and is merged.

[2020-02-04 01:14] #113 closed

[2020-02-04 01:34] kestred commented on #114
Fixed in https://github.com/wyyerd/stripe-rs/pull/100/commits/d71e1911cbfc6500824538be3b5bbd7e422983e1 — https://github.com/wyyerd/stripe-rs/pull/100/commits/1ec8012cc97103965a782907c49459563a629c87.

Now on master and will be published as part of `0.12.0`.

[2020-02-04 01:34] #114 closed

[2020-02-04 01:35] kestred commented on #104
#100 has been merged;  I'll publish a `0.12.0` soon (hopefully today).

[2020-02-04 01:35] #104 closed

[2020-02-04 01:35] kestred commented on #97
#100 has been merged.  I'll publish a `0.12.0` soon (hopefully today).

[2020-02-04 01:35] #97 closed

[2020-02-04 01:38] kestred opened #122 "Update to the latest version of the Stripe API (v2019-12-03 as of 03/02/2020)"
Many changes have come since the last time we pulled the `openapi/spec3.json` (`2019-09-09`).

Notably, Stripe has changed many of their _documentation_ patterns, and we'll need to update our doc-comment generator to handle the new documentation format(s).

[2020-02-05 21:34] ThouCheese opened #123 "Parsing a Charge"
Im migrating my payment implementation to use the `PaymentIntent` and `PaymentMethod` API's, and I'm running into some trouble with the webhook. The webhook posts an `event` to my web server. The `event` in turn contains a `payment_intent` object, which contains a list of charges. One of these charges is formatted as follows:
[code]
The object is structured according to how a `charge` should be st

[2020-02-06 19:33] #123 closed

[2020-02-06 19:35] kestred commented on #123
Fixed in https://github.com/wyyerd/stripe-rs/commit/0aeb9a6551413239b96d94289f84d067eea4b963 specifically to generally handle this kind of issue when stripe developers decide to use this API pattern.

[2020-02-06 19:39] kestred commented on #123
This has been published to crates.io as version `0.12.1`.

[2020-02-26 03:34] thedodd commented on #41
Yes! I was about to open an issue for this! Would be quite helpful.

[2020-02-26 17:24] vroussea opened #128 "diesel compatibility"
Hello, i'm trying to store my stripe IDs CustomerId, PaymentMethodId and SubscriptionId) into a postgres database by using the diesel crate.

I can't have a model including those IDs since they don't implement the diesel::Expression/AppearsOnTable traits, so i went for storing them as Strings, but I can't create back the IDs using for exemple `CustomerId::from(my_string)`. How am i supposed to do

[2020-02-26 17:52] vroussea commented on #128
ok, I just needed to use the str::str::FromStr trait!

[2020-02-26 17:52] #128 closed

[2020-03-09 01:42] thedodd opened #129 "Support for idempotent requests."
Per the docs here https://stripe.com/docs/api/idempotent_requests, it would be quite nice if the various API interaction methods supported a way to set this header. There are a few different ways this value could be set. Method param. Constructor pattern for the requests. We should be able to find a solid path forward.

**Hard requirements:**
- the value of the `Idempotency-Key` must be controlled

[2020-04-13 02:04] kestred commented on #129
Up to this point the library has used the `Headers` struct to represent similar patterns (e.g. `Stripe-Account`)

Also see the comment I added #130.

[2020-05-15 11:38] ruseinov commented on #122
@kestred are there any plans to work on this? Or maybe there's a WIP branch somewhere?
Unfortunately Stipe does not allow to downgrade the API version for webhooks, which means that some of the functionality for new Stripe accounts is broken, including ```invoice.payment_succeeded```.
I'm going to try and fix the events I absolutely need, but of course it would be better to be able to generate the

[2020-05-15 14:14] ruseinov commented on #122
This seems to support the openapi v3 spec: https://github.com/OpenAPITools/openapi-generator, but the output is not 100% compatible.

[2020-05-16 06:15] kestred commented on #122
Implemented on master, for 0.13.0

[2020-05-16 06:15] #122 closed

[2020-05-17 11:12] ruseinov commented on #122
Thanks a lot, I have temporarily specified last commit in master as a dependency, it works beautifully now. I'd fixed some of the events I needed manually, but that's much better!

[2020-05-20 12:33] ruseinov opened #132 "FeatureRequest: self_service_portal"
Add support for https://stripe.com/docs/api/self_service_portal.

Similar to https://stripe.com/docs/billing/subscriptions/integrating-self-serve-portal#redirect

[2020-05-20 14:48] ruseinov commented on #132
I have implemented this directly in my application in a very minimal fashion, looks similar to this:
[code]

[2020-05-21 08:45] ruseinov opened #133 "Properly support the 2020 api."
Currently there is a problem with a webhook: ```[2020-05-21T08:43:02Z DEBUG actix_web::middleware::logger] Error in response: Error(Webhook(BadParse(Error("invalid `InvoiceLineItemId`, expected unknown id prefix", line: 161, column: 3))), State { next_error: None, backtrace: InternalBacktrace { backtrace: Some(   0: backtrace::backtrace::trace_unsynchronized
[code]

[2020-05-22 06:38] manonthemat commented on #132
Thank you for opening the issue and posting your solution. I am also looking to offer my customers to use the self service portal.

[2020-05-29 10:12] ruseinov commented on #133
One other thing that I have noticed is that the current implementation fails when sending test-webhooks. The reason for that is pretty simple, unlike in stripe-cli, test webhooks send bogus Ids that look like "_000000" and that breaks id validation. I'm not exactly sure that needs to be fixed, but figured I'd report it anyway.

[2020-06-03 17:07] saschat opened #134 "Incorrect type for `CustomerInvoiceSettings.default_payment_method`?"
Shouldn't the type be `Option<PaymentMethodId>` instead of `Option<String>`?

See: https://github.com/wyyerd/stripe-rs/blob/master/src/resources/customer.rs#L529

[2020-06-22 13:48] bryanburgers commented on #133
Is there a reason you haven't submitted this as a pull request?

[2020-06-22 14:05] ruseinov commented on #133
@bryanburgers I am not 100% sure this is a proper fix as I didn’t dig too deep in the code and the lack of documentation makes it hard to understand some of the implementation details and the reasoning behind them.

I’m guessing these was a reason for certain ID types to be restricted in the way they were, so I would love to hear author’s opinion on the matter.

[2020-09-18 09:47] rocallahan opened #143 "Support retries and Stripe-Should-Retry"
See https://stripe.com/docs/error-handling.

Is this something that belongs in this library? Seems like it would be helpful. If it's welcome, I might work on it.

[2020-09-22 11:50] dthul opened #144 "Get rid of the smol_str dependency"
Would it be possible to remove the dependency on `smol_str`? Or at least fix it to a specific minor version. rust-analyzer/smol_str#25 just broke my build (even with the latest stable compiler) and the author of `smol_str` clarified that `smol_str` will only support the latest compiler (not sure why stable doesn't work for me at the moment).

[2020-10-18 18:58] scrblue opened #147 "BadParse on Webhook::construct_event"
So I'm trying to implement purchase fulfillment so I set up Stripe CLI and a test request. It made it through the signature check and timing check, but I received the error `Err(BadParse(Error("data did not match any variant of untagged enum Expandable", line: 185, column: 3)))` or similar from all of them. I wrote the payload to a file and it seems that line and column is the closing curly brace

[2020-10-24 03:25] scrblue commented on #147
So with unchanged code it seems to be working now. I'll keep an eye on it and try to figure out if there's something in specific making it fail some of the time.

[2020-10-24 03:25] #147 closed

[2020-10-26 20:03] lennartkloock opened #148 "price.rs file is missing at crates.io"
The file(src/resources/price.rs) is just missing and I can't use the structs and functions in my project. I really don't know why?!
[https://docs.rs/crate/stripe-rust/0.12.3/source/src/resources/](https://docs.rs/crate/stripe-rust/0.12.3/source/src/resources/)

[2020-11-28 19:50] arlyon opened #150 "Support for alternative 'runtimes'"
Hey! I am using `async_std` and would like to avoid having to use any adaptors for tokio. This is a bit of a pain point in the ecosystem however there is inspiration to be taken from `sqlx` which exposes 'runtimes' as features. As of now, we have three runtimes: `runtime-tokio-hyper-tls`, `runtime-tokio-hyper-rustls`, and `blocking`.

In theory, adding a new runtime is as easy as adding a new feat

[2020-12-06 00:00] cloudybyte opened #153 "Async error when using with actix"
The following error always occurs, when I request to create a client in actix.
`Cannot drop a runtime in a context where blocking is not allowed. This happens when a runtime is dropped from within an asynchronous context.`...

client is created via `let client = stripe::Client::new("sk_test_xxxxxxxx")`

[2020-12-06 00:44] cloudybyte commented on #153
Fixed it by just rolling back a version, but that really shouldn't be the solution...

[2020-12-10 10:12] aldebaranzbradaradjan opened #154 "Account Person, how to create ?"
Hi guys !

I follow this guide to create connected account : https://stripe.com/docs/connect/account-tokens (i'm french, must use account_id method) and it show the use of create person.
I've been trying for a while now to create a person (https://stripe.com/docs/api/persons/create).
I just don't understand how to do this, I'm just starting stripe;

I use this code to create account :
[code]
But I

[2020-12-10 11:41] drusellers commented on #148
Same here. I'm wondering if the failing build isn't helping?

[2020-12-14 10:07] PockelHockel commented on #148
I solved it by doing the requests to the stripe servers myself. (With https://crates.io/crates/reqwest)

[2020-12-30 22:41] seanpianka opened #155 "Update to Tokio 1.0"
[A new version of `tokio` has been released](https://github.com/tokio-rs/tokio/releases/tag/tokio-1.0.0)

We should keep this crate up-to-date with this, as its a major milestone that the rest of the ecosystem is moving towards supporting.

[2021-01-12 02:18] c1wren opened #158 "Fails to compile with serde v1.0.119"
In serde v1.0.119, it is no longer possible to compile because ```serde::private``` is now a private module. The compiler fails at
```use serde::private::de::{Content, ContentRefDeserializer};```
 which is this line: https://github.com/wyyerd/stripe-rs/blob/58c06e798d52bf8a6398b1d556be93e9dce95f7b/src/resources/payment_source.rs#L30

[2021-01-12 05:43] seanpianka commented on #158
[This issue has a fix](https://github.com/Metaswitch/swagger-rs/pull/135)

[2021-01-18 22:02] jonahbron commented on #158
To be more explicit, the workaround (or what worked for me) was to point to @seanpianka 's fork, and update my own project to depend on the same Serde versions.

[code]

[2021-01-19 05:01] seanpianka commented on #158
It doesn't look like the maintainers have been active recently with this project, so I'll maintain this fork until this fix is merged to avoid the specific broken version. Once the maintainers merge in this fix, I will delete that fork... but I'll warn here before I do.

[2021-01-21 14:44] PockelHockel commented on #148
This crate seems to be not that well maintained at all

[2021-01-22 02:47] intendednull opened #160 "Subscription delete broken: Deserialize(Error("missing field `deleted`", line: 141, column: 1))"
`Subscription::delete` seems broken on master. Let me know if I'm missing anything.

[2021-01-22 05:19] #160 closed

[2021-01-22 17:39] kennetpostigo commented on #150
Hi, any chance there has been progress on this front?

[2021-01-27 14:34] vcombey opened #162 "support for usage record"
Hi, is usage record API supported? I haven't found it in the doc:
https://stripe.com/docs/api/usage_records/object

[2021-02-04 19:49] seanpianka commented on #155
@kestred @ambaldwin Can you review the linked pull request, or do you have any separate plans for updating this project to Tokio 1.0?

[2021-02-07 20:18] #155 closed

[2021-02-10 06:59] marcusbuffett commented on #158
It seems like as long as you pin serde to a version before 1.0.119, things work out, ex I have this in my project:
[code]

[2021-02-10 18:10] rrrodzilla commented on #158
@marcusbuffett  Yep, that works great.  Thanks for that!

[2021-02-10 18:23] seanpianka commented on #158
The fix for this has been merged to master, along with Tokio 1.0 updates:
[code]

[2021-02-11 09:18] arlyon commented on #158
As far as I can tell, we can avoid using the internal apis altogether (and delete the manual serialize / deserialize code) by using serde `untagged` right? If I am understanding right, I'll open a PR

[code]

[2021-03-01 01:30] nickfrostatx opened #165 "Webhook signature checking should use a constant-time comparison function"
https://github.com/wyyerd/stripe-rs/blob/e15d3ab9d492b6ec2cb2bea750a1934550d70f9e/src/resources/event.rs#L264

This code is vulnerable to a timing attack, because the `!=` check takes a different amount of time if more characters from the provided signature are correct.

An exploit over the network is unlikely, but as a best practice this should be a constant-time comparison.

[2021-03-11 18:56] seenickcode opened #166 "How to use `checkout_session::CheckoutSession` vs `placeholders::CheckoutSession` for Event`"
Hi there, I'm a bit new to Rust and wanted to use this lib for receiving a Stripe webhook for event type `checkout.session.completed`. My goal is to be able to get the SKU associated with a `checkout_session`'s `line_items` field, yet accessing the `Event` only provides the `placeholders::CheckoutSession` type which doesn't expose what I need (it only exposes an ID).

Here's an example `actix_web`

[2021-03-11 22:19] vcombey commented on #133
I am having the same issue.

[2021-03-11 22:21] vcombey commented on #133
Is this only on tests webhooks ?

[2021-03-11 22:25] vcombey commented on #133
what is blocking from the PR to be merged ? I would like to use it with the current master which use tokio v1

[2021-03-15 21:34] seenickcode commented on #166
Turns out I needed to enable the "checkout" feature flag, i.e. `stripe-rust = { version = "0.12.3", default-features = false, features = ["checkout", "default-tls", "webhook-events"] }`

[2021-03-15 21:34] #166 closed

[2021-03-17 13:35] seenickcode commented on #158
@wyyerd it may be a good idea to give certain contributors write access to this repo so we can ensure it's maintained promptly.

[2021-03-17 18:41] seanpianka commented on #158
Perhaps we can open another issue about this? I agree that we need a community member with write access to this repository...

[2021-03-21 13:05] seenickcode opened #168 "Please allow others to manage this repo if you do not have time to properly review PRs and Issues!"
@wyyerd it may be a good idea to give certain contributors write access to this repo so we can ensure it's maintained promptly. CC @seanpianka

[2021-03-21 13:06] seenickcode commented on #158
Done. https://github.com/wyyerd/stripe-rs/issues/168

[2021-03-28 04:09] seanpianka commented on #158
@arlyon Did you open a PR or make these changes in a fork somewhere? I think it would be valuable to support newer versions of Serde.

[2021-03-28 04:37] seanpianka commented on #168
cc: @kestred @stearnsc

[2021-03-28 10:33] arlyon commented on #168
I have been maintaining a fork at arlyon/async-stripe for a while now, it's diverged a little as I've been adding other things but I have the time to stay on top of issues (and very open to PRs!)

The most notable feature is pluggable runtimes so you can use it on tokio and async-std.

[2021-03-29 14:25] stearnsc commented on #168
Hi! I'm sorry, this repo had flown somewhat under my radar (I inherited it via reorganization at work). I'm absolutely in favor of adding more maintainers. I believe @kestred is still the only one who can publish versions, but that can probably change as well. @seanpianka are you interested in this? @arlyon is upstreaming your fork something you're interested in doing?

I don't have a lot of conte

[2021-03-29 14:43] arlyon commented on #168
Happy to upstream any changes. There are about 70 commits at this point, so there's a lot that I have changed but the link above has a short summary which I believe is for the better so it's really down to how much you are willing to take on. It's foss for a reason! :)

[2021-03-31 00:30] kestred commented on #168
@stearnsc, can you choose a committer you trust to maintain this and I can transfer the Cargo authorization to you to assign as needed?

[2021-04-01 02:53] seanpianka commented on #168
Perhaps both of us, I'm up for helping get important fixes merged and start to upstream @arlyon's changes.

[2021-04-01 10:51] arlyon commented on #168
Happy to help with the upstreaming on this side as well. It would reduce the bottleneck significantly having multiple people but not critical.

[2021-04-06 13:56] stearnsc commented on #168
Alright, @seanpianka and @arlyon have both been added as maintainers. @kestred can you add me as an owner via cargo?

[2021-04-07 14:34] mikeumus opened #170 "GitHub Sponsorship + Discussions"
Hi @Wyyerd, have you guys considered GitHub's Sponsor and Discussion features?

It's nice to give back to projects you're using commercially via sponsorships and I find that issues are usually better off in the new Discussions format as they're usually questions and not actual bugs found in the software.

Cheers! 🥂

[2021-04-17 15:15] stearnsc opened #173 "Requests fail intermittently w/ hyper error"
On a small portion of requests, we're getting the error:
`error communicating with stripe: connection closed before message completed`
and the request is failing.

This appears to be related to https://github.com/hyperium/hyper/issues/2136 - in which hyper attempts to reuse a connection that the server (in this case Stripe) has already closed.

I opened https://github.com/wyyerd/stripe-rs/pull/172

[2021-04-17 19:11] arlyon commented on #173
#172 seems like a decent short term solution. I am currently speaking with stripe to see if they can give a proper number which you could test with; i'll comment when they get back to me.

[2021-04-20 16:03] arlyon commented on #173
Contents of the email, slightly reworded because I'd rather not post verbatim:

Recommended solution from stripe: set the timeout limit to 30 seconds, the same value used in their java library (https://github.com/stripe/stripe-java/blob/4262fcc6e4b0f084c03de438886b2a9f0fbea306/src/main/java/com/stripe/Stripe.java#L9).

We can (and probably should, eventually) also set up retry logic which would be

[2021-04-20 16:07] arlyon commented on #173
Would you be willing to set the timeout to 30 sec and test? I can make some time to implement idempotent retries however that will obviously need a good deal of testing before it can be put in production. Maybe we can use the mock stripe docker image with some load generator to count dropped connections and detect duplicate charges.

[2021-04-20 16:34] arlyon commented on #173
Just received a follow up: "while we terminate idle connections after 180s, we may terminate them early for a number of reasons (eg: host management) and you should not explicitly depend on a connection staying open that long". I think retries and idempotency seems like the only bulletproof solution; there is a PR https://github.com/wyyerd/stripe-rs/pull/130 which makes some progress but it is a y

[2021-04-20 19:10] #158 closed

[2021-04-26 10:29] arlyon opened #174 "Move CI to github actions"
This is mainly for discussion. I have done some work on arlyon/async-stripe to move to github actions for formatting and tests which I personally prefer over travis as it keeps things on-platform and displays errors inline on the PR. I can prepare a PR for it if that is something we are interested in.

@kestred @seanpianka

Additionally, on my fork, I set it to auto generate schema changes once a

[2021-04-28 08:37] hiimzimmy opened #175 "Add Card to CreatePaymentMethod"
Hey!

When trying to create a payment method with the type PaymentMethodType::Card, stripe returns "Missing required param: card".  Looking into the class itself, looks like has properties for fpx, ideal, sepa and au_becs, but not card.

[2021-04-28 20:11] stearnsc commented on #173
I'm going to go ahead and merge the "stop connection pooling" change until we implement idempotency. I'll make a followup story for that.

[2021-04-28 20:15] stearnsc opened #176 "Support connection pooling w/ retries using idempotency keys"
Currently stripe can and will close a connection at any time (e.g. if they're deploying to a server). This makes connection pooling difficult, as we hit a race condition in hyper (#173, hyperium/hyper#2136).

In order to support robust connection pooling, we therefore need to have retries. In order to support retries, we need idempotent requests (#129).

[2021-04-28 20:16] stearnsc commented on #173
Made #176 to track the ongoing issue

[2021-04-28 20:16] stearnsc commented on #173
Closed by #172

[2021-04-28 20:16] #173 closed

[2021-04-29 20:43] arlyon commented on #175
Hey, yes, it seems that the codegen has missed the card field. Here is the relevant part in the docs:

https://stripe.com/docs/js/payment_methods/create_payment_method#stripe_create_payment_method-paymentMethodData-card

[2021-04-30 07:00] mikeumus opened #178 "How to CheckoutSession?"
I've been reading through the source trying to figure it out. Got stuck on the `stripe::CheckoutSessionItem::id`:

[code]

I found this:
https://github.com/wyyerd/stripe-rs/blob/624c97259a07547afc4c2e70adaeb7ce4c25b9b2/src/ids.rs#L487

👆 in the source typed as a `String` but trying to set a String as the `id` above gives:

[code]

Any insight would be greatly appreciated.
Thank you 🙇🏻‍♂️

[2021-05-02 06:18] mikeumus commented on #166
Hi @seenickcode, I'm noobing out here but could you share your `AppData` or an version of it?
Also was `pool` ever used from the `stripe_webhook` params?
Thank you 🙇🏻‍♂️

[2021-05-02 10:14] ThouCheese opened #179 "stripe-rust will not compile with the latest serde"
Hi! Due to `stripe-rust`s import of `use serde::private::de::{Content, ContentRefDeserializer};`, it is no longer possible to compile `stripe-rust` with the latest version of `serde`. The error message is:
[code]
I see that this is already fixed on master, but I wanted to file this issue so I'll be notified when it is closed.

[2021-05-02 18:17] arlyon commented on #179
Hi, yes I agree we are overdue a release (by a year!); I only recently joined the maintainer list and don't have access so I will defer to @kestred or @stearnsc.

[2021-05-03 14:35] seenickcode commented on #166
[code]

Yes I use pool in the handler because I need to access my database.

[2021-05-04 11:32] arlyon commented on #178
Hi! Yes, it is a string but `CheckoutSessionItemId` uses the newtype pattern to provide type safety.

See here: https://docs.rs/stripe-rust/0.12.3/src/stripe/ids.rs.html#121

Luckily `CheckoutSessionItemId` implements `FromStr` so you _should_ be able to do the following:

[code]

[2021-05-07 19:55] chinedufn opened #180 "Support Stripe Terminal"
Hey!

As far as I can tell Stripe Terminal isn't currently supported, or am I missing something?

What would go into supporting Stripe Terminal?

Thanks.

[2021-05-07 20:00] chinedufn commented on #180
Ah, I'll just make my own http request so I'm good here, but feel free to re-open as a tracking issue.

[2021-05-07 20:00] #180 closed

[2021-05-11 13:59] mikeumus commented on #168
@kestred @stearnsc @arlyon @seanpianka may we consider turning on GitHub Discussions to get a little more organized and GitHub Sponsors to help water the repo a little? water 💦 🌱 🌞

[2021-06-02 17:10] drusellers commented on #179
would love to see it updated with just this change even.

[2021-06-03 10:53] arlyon commented on #179
Agreed.

@kestred @stearnsc happy to run the release if you want to grant me the rights on cargo. you can contact me at alex@arlyon.dev

[2021-06-06 23:06] ThouCheese commented on #96
Hi @kestred, impressive results! I am only now revisiting this issue because I am investigating compilation times of another project. I am sure that investigating the `serde::Serialize` and `serde::Deserialize` implementations is a good idea, because for example a program like this:

[code]
Already expands into over 300 lines of code after these macros are done.  In fact this is mention in [this i

[2021-06-09 21:59] stearnsc opened #181 "0.13.0 release"
We've been sitting on 0.13.0-dev for quite some time, and the current released version has some Bad™ issues that should be resolved (e.g. https://github.com/wyyerd/stripe-rs/issues/179). I've recently taken over publishing rights of this crate from @kestred and am collaborating w/ @arlyon and @seanpianka to return this crate to some semblance of maintenance.

With that context, I'd like to discuss

[2021-06-09 22:19] seanpianka commented on #181
In terms of important fixes that should go into a next release, I can think of a few that should be considered:

* #129 - Re-enable connection pooling by implementing idempotency keys
* #153 - async issues with actix - we can determine if a fix is needed or if it's just a documentation issue
* #144 - questions on smol_str dependency - unless there's a plan to remove this, we should close this and

[2021-06-10 10:22] arlyon commented on #181
I think we need to sort out CI as well. Travis is failing because tests aren't building properly. We also spin up and take down a docker image for mock stripe which can be simplified. Github actions supports service images which can help this immensely and should make things more consistent.

For example (from the fork I was working on): https://github.com/arlyon/async-stripe/blob/master/.github/w

[2021-07-29 07:51] roy-ganz opened #186 "0.12.3 does not compile (hmac-crypto got yanked)"
Version 0.12.3 depends on hmac = 0.6.
That causes troubles, because the depended crate `hmac-crypto` `0.6` got yanked.
Please consider upgrading the `hmac`.
[code]

As a workaround in `cargo.toml` this patch pulls in the yanked dependency:
[code]

[2021-07-30 17:41] #186 closed

[2021-07-30 23:40] seanpianka commented on #186
Please pull the latest from GitHub using:
[code]

[2021-08-27 09:52] arn-the-long-beard opened #191 "How to use stripe-rs in actix context"
Hello guys :smile:

Thank you so much for your crate :wink: !!
Now, I saw there is already an issue regarding `actix-web` but this one seemed a bit different so i decided to post the issue.

I have 2 small issues.

1 - Here is what I get when I try to use the crate in my actix web server :

[code]

I also tried this solution right here since the error message was similar but I get the same error :

[2021-08-30 09:30] arn-the-long-beard commented on #191
Hello, so it seems I do have to move to the actix-web 4 beta. Okay, i ll give it a try and I come back to see if it solve the issue.

[2021-08-30 11:30] arn-the-long-beard commented on #191
Well @seanpianka  , I did the updates :smile: .

Here is my new dependencies

[code]

I get the same error
[code]

I am missing something somewhere ?

[2021-08-30 12:27] #191 closed

[2021-08-31 03:37] phayes opened #193 "`List::get_all()` ignores query parameters"
For example:

[code]

If there are more than 100 invoices returned in the first fetch, then `get_all()` returns *all* invoices stored in Stripe, ignoring the created range query param.

I'm trying to track down a root cause, but so far the List looks like this:

[code]

The URL does not properly contain the `list_subscriptions.created = Some(range.clone());` data.

[2021-08-31 05:23] phayes commented on #193
I think the solution probably looks something like this:

1. Add `params` field to List

[code]

2. Add a `get_list` method to `Client`

[code]

3. Use `get_list` where appropriate

[code]

4. Make sure that `List::get_next` uses the build-in params

[code]

I'd like some thoughts from the maintainers on this approach.

[2021-09-11 21:34] seanpianka commented on #162
Hi @vcombey, please try using the latest version on `master`. #137 has been merged, which adds the feature you're looking for.

[2021-09-11 22:51] seanpianka commented on #181
@arlyon I am okay with moving from Travis to GH actions, and I think an effort to upstream all of the features and enhancements in async-stripe would be the most beneficial. Then with those improvements, we can release a a new 0.13 version for stripe-rs.

[2021-09-11 23:09] seanpianka commented on #165
Thanks for reviewing the code and reporting this vulnerability! This bug should definitely get fixed soon.

I've found some  crates we can use to implement this:
- [dalek-cryptography/subtle](https://github.com/dalek-cryptography/subtle)
- [crypto::util::fixed_time_eq](https://docs.rs/rust-crypto/0.2.36/crypto/util/fn.fixed_time_eq.html)

[2021-10-07 21:12] imalsogreg opened #196 "New contributors"
Hello! We have been using `stripe-rs` at work. We really love the library, in addition to depending on it, so we would like to support the library in whatever way is most useful.

Is there a particular area where we could contribute?

The people who would we working on this are me, @jbhsieh and @ada-hall

[2021-10-07 22:05] seanpianka commented on #196
Hello all 👋 This would be a very welcome effort by many of the users of this library!

For the highest impact work on this project, check out the 0.13 release's issue. It contains a number of important tasks that are semi-planned to be completed before the next minor version release.

One important notice is that one of our maintainers (@arlyon) has started a fork called async-stripe. It has recei

[2021-10-08 02:57] imalsogreg commented on #153
For debugging purposes, I've reproduced the issue here: https://github.com/imalsogreg/repro-stripe-153

[2021-10-08 14:54] imalsogreg commented on #153
@cloudybyte The most recent stable branch is using `^tokio-0.2.6`, which is by now fairly out of date with the rest of the async ecosystem. Unfortunately the best way to use stripe-rs in an actix project is to depend on one of actix's beta releases.

I will open a PR to add a note about this to the readme and the library documentation.

[2021-10-08 16:04] #162 closed

[2021-10-09 01:28] kushwahashiv commented on #196
@imalsogreg @arlyon I'm also a bit confused which one to use as I'm upgrading `stripe-rs` but seems this crate is not up to date and lagging dependencies. Now my worry is what if `async-stripe` have completely different names of enums, structs etc. I hope that's not the case. can you please confirm  @arlyon.

thanks
/shiv

[2021-10-13 00:11] #196 closed, assigned to nobody

[2021-10-17 02:15] seanpianka commented on #144
Sorry for the delay.

I don't have experience using either `smol_str` or `smartstring` directly, but I find it preferable to support several previous releases back from the latest. The [aws-sdk-rust's README](https://github.com/awslabs/aws-sdk-rust#supported-rust-versions-msrv) describes a particular approach to maintaining latest versions that I find to be a happy medium:

This seems like a sane

[2021-10-18 22:14] kushwahashiv opened #198 "Error `struct import `PaymentIntent` is private`"
why I'm keep getting error: struct import `PaymentIntent` is private ? even though it defined `pub`.

cargo.toml
[code]

[2021-10-18 22:31] #198 closed

[2021-10-23 00:02] phayes commented on #41
Looks like I underestimated my own ability, and I have an initial implementation here:

https://github.com/wyyerd/stripe-rs/pull/200

[2021-12-23 00:19] kushwahashiv opened #207 "PaymentIntent::create `payment_method_types` does not send data in a correct format to stripe api."
PaymentIntent::create payment_method_types does not send data in a correct format to stripe api.

when i send

[code]

in above code `params.payment_method_types` is of `Vec<PaymentIntentMethodType>` type and when I assign `vec![PaymentIntentMethodType::Card]` it sends on stripe side below

| POST /v1/payment_intents

[code]
instead of

[code]

what I'm missing here?

/Shiv

[2021-12-23 02:08] kushwahashiv commented on #207
I was missing `confirm` attribute in the param.

[2021-12-23 02:08] #207 closed

[2022-01-17 20:08] SmailBarkouch commented on #165
I believe you can do constant time comparisons just using `hmac`'s own functions. [This](https://docs.rs/hmac/0.12.0/hmac/trait.Mac.html#tymethod.verify_slice) function can help do that for you I believe. You would need to replace the [`to_hex`](https://github.com/wyyerd/stripe-rs/blob/e15d3ab9d492b6ec2cb2bea750a1934550d70f9e/src/resources/event.rs#L278) function with something that converts the s

[2022-01-17 20:15] SmailBarkouch opened #209 "Replace small to_hex function with lightweight hex crate"
There is a comment [here](https://github.com/wyyerd/stripe-rs/blob/e15d3ab9d492b6ec2cb2bea750a1934550d70f9e/src/resources/event.rs#L277) noting that the function should be replaced with a lightweight crate. [This hex crate](https://crates.io/crates/hex) can replace that function, using their [encode function](https://docs.rs/hex/0.4.3/hex/fn.encode.html).

This function also provides a [decode fun

[2022-01-22 22:38] erichCompSci commented on #129
Hi, in a downstream repo (the async stripe) I've provided an implementation for this by forcing all post requests to take a value.  That way you can determine if you want this particular header or not per request.  This is a significant API change, and it does require changing the generation code.

I know this is a wanted feature.  I can not actively support both the non-async code and the async c

[2022-01-26 22:10] arlyon commented on #165
You may be interested in this: https://github.com/arlyon/async-stripe/commit/dc1140708f0c31da85b3d4d080e2c3ed03b2d7a4

[2022-01-26 22:17] arlyon commented on #165
Closing this, thanks @SmailBarkouch

[2022-01-26 22:17] #165 closed

[2022-01-30 14:29] SmailBarkouch commented on #209
Closing this since #210 adds the hex crate.

[2022-01-30 14:30] #209 closed

[2022-02-26 19:11] dzervas commented on #178
My problem with `CheckoutSession` is actually the `id` field. I'm creating it so how will I know ahead of time what the id will be?

[code]

[2022-02-27 19:48] barlindhaug commented on #178
It looks like the `CheckoutSession` is not completely implemented, you are missing the `create` function which normally takes a `CreateCheckoutSession` struct as input. As an example, see how the PaymentIntent works: https://docs.rs/stripe-rust/0.12.3/stripe/struct.PaymentIntent.html#method.create or the CheckoutSession in the async-stripe fork: https://docs.rs/async-stripe/latest/stripe/struct.Ch

[2022-05-04 11:15] fancywriter opened #215 "2020-08-27"
Any plans to support the latest stripe API version?

https://stripe.com/docs/upgrades#2020-08-27

[2022-05-04 11:55] fancywriter commented on #186
@seanpianka any plans to make a release to include this change? It's more than 9 months since then...

[2022-05-04 13:03] arlyon commented on #186
We don't have access to making releases. You will need to get ahold of someone at wyyerd (@kestred )

[2022-06-07 07:26] maxall41 commented on #181
Any updates on this?

[2022-06-08 09:33] arlyon commented on #181
There are a number of PRs that have been outstanding for a long while so there probably needs to be a discussion about the maintenance status of this repo. I have been working on arlyon/async-stripe for probably 18 months now building on top of the work I did in this PR https://github.com/wyyerd/stripe-rs/pull/151. I didn't want to merge what was likely a breaking change (especially with the knowl

[2022-06-08 21:00] stearnsc commented on #181
The current system for this crate isn't really functional, and I think having a clear choice for stripe in the rust ecosystem is important. To that effect, sunsetting this crate in favor of async-stripe might make the most sense. I don't know how difficult it would be to move our internal usage from stripe-rs over to async-stripe, but looking at your changelist, my instinct is it wouldn't be too b

[2022-06-15 13:18] arlyon commented on #181
I'll add as an additional comment I just wanted to say that I am very grateful for the work you guys at wyyerd have done to get this library off the ground, and I have been really enjoying the past 18 months getting it to the place it's at now.

[2022-06-24 21:14] seanpianka commented on #181
I wholeheartedly am in favor of sunsetting stripe-rs in favor of the excellent work that @arlyon has done building on top of this existing crate. He's added lots of excellent features to improve the user experience and redirecting all of ours' limited capacity for maintenance and extension of this crate towards `async-stripe` is the right move in my eyes.

As far as moving existing users of stripe

[2022-10-29 14:44] #150 closed

[2022-10-29 14:45] arlyon commented on #150
Closing now that async-stripe in the de-facto successor

[2022-10-29 14:45] arlyon commented on #148
Closing now that async-stripe in the de-facto successor

[2022-10-29 14:45] arlyon commented on #174
Closing now that async-stripe in the de-facto successor

[2022-10-29 14:45] #174 closed

[2022-10-29 14:46] #148 closed

[2022-10-29 14:47] arlyon commented on #85
Closing now that async-stripe in the de-facto successor. There is an example in there.

https://github.com/arlyon/async-stripe/blob/master/examples/checkout.rs

[2022-10-29 14:47] #85 closed